.jumbotron_all {
	background-image: url(/img/background.PNG);
	background-position: center center; 
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: auto;
	z-index: 1;
}
  
.jumbotron-height {
	height: 100vh;
}

.card-style {
	background: linear-gradient(-135deg, #000000, #009966);
}

.btn-style {
	background: linear-gradient(135deg, #000000, #009966);
}