.jumbotron-height {
	height: 100vh;
}

h1 {
	padding-top:100px;
}

.back-btn {
	background: linear-gradient(-135deg, #000000, #009966);
	font-size: 14px;
	width: 210px;
	height: 40px;
	margin: 40px;
}

/*ナビバーCSS*/
.nav-color {
	background: linear-gradient(135deg, #000000, #009966);
}

.round-img-nav{
	border-radius:50%;
	width: 30px;
	height: 30px;
}