.jumbotron-height {
	height: 100vh;
}

h1 {
	padding-top:10px;
	margin-bottom:30px;
}

.btn-style {
	background: linear-gradient(-135deg, #000000, #009966);
	font-size: 20px;
	width: 250px;
	height: 60px;
	margin: 10px
}

.back-btn {
	background: linear-gradient(-135deg, #000000, #009966);
	font-size: 14px;
	width: 210px;
	height: 40px;
	margin: 40px;
}

/*ナビバーCSS*/
.nav-color {
	background: linear-gradient(135deg, #000000, #009966);
  }