.jumbotron-height {
	height: 100vh;
}

h1 {
	padding-top:10px;
	margin-bottom:30px;
}

.btn-style {
	background: linear-gradient(-135deg, #000000, #009966);
	font-size: 14px;
	width: 60px;
	height: 30px;
	margin: 5px;
	padding-bottom: 27px;
}

.btn-style-2 {
	background: linear-gradient(-135deg, #000000, #009966);
	font-size: 14px;
	width: 90px;
	height: 60px;
	margin: 5px;
	padding-bottom: 27px;
}

.back-btn {
	background: linear-gradient(-135deg, #000000, #009966);
	font-size: 14px;
	width: 210px;
	height: 40px;
	margin: 40px;
}

/*ナビバーCSS*/
.nav-color {
	background: linear-gradient(135deg, #000000, #009966);
}

.round-img-nav{
	border-radius:50%;
	width: 30px;
	height: 30px;
}
  